/*!
Theme Name:   Lakshmi MD - Polyclinic Child
Template:     polyclinic
Theme URI:    https://github.com/webmandesign/child-theme/
Author:       AZ Naqvi
Author URI:   https://bitbucket.org/AXeNaqvi/
Version:      1.0.4
Description:  You can change this description text in your child theme's "style.css" file.
License:      GNU General Public License v3
License URI:  http://www.gnu.org/licenses/gpl-3.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Put your custom CSS styles below... */
.w{display:inline-block;float:left;box-sizing:border-box}
.w.wright{float:right}
.w1{width:8.3333333333333333333333333333333%}
.w2{width:16.666666666666666666666666666667%}
.w3{width:25%}
.w4{width:33.333333333333333333333333333333%}
.w5{width:41.666666666666666666666666666667%}
.w6{width:50%}
.w7{width:58.333333333333333333333333333333%}
.w8{width:66.666666666666666666666666666667%}
.w9{width:75%}
.w10{width:83.333333333333333333333333333333%}
.w11{width:91.666666666666666666666666666667%}
.w12{width:100%}
.wpad{padding:0px 7.5px}
.wpadfirst{padding-left:0px;padding-right:15px}
.wpadlast{padding-right:0px;padding-left:15px}

.columned-buttons div.fl-col-content{flex:none;width:100%;display:block;}
.columned-buttons div.fl-module-button{width:33.333%;display:inline-block;float:left;padding:10px;}
.columned-buttons div.fl-module-button a.fl-button{width:100%;text-align:center}

/* CF7 */
div.wpcf7{padding:20px;border:1px solid #CCC;border-radius:20px;}
div.wpcf7 input[type="text"],div.wpcf7 input[type="date"],div.wpcf7 input[type="password"],div.wpcf7 input[type="file"],div.wpcf7 input[type="email"],div.wpcf7 input[type="tel"],div.wpcf7 input[type="url"],div.wpcf7 input[type="date"],div.wpcf7 select,div.wpcf7 textarea{width:100%}
div.wpcf7 textarea{height:75px;min-height:75px}
.axe-cf-field{margin:7.5px 0px;position:relative;}
.axe-cf-field label{width:100%!important;font-weight:600;color:#000}
.axe-cf-field span.req{display:inline-block;margin-left:5px}
.axe-cf-field.axe-cf-right, .axe-cf-field.axe-cf-rightlabel label{text-align:right}
.axe-cf-field.axe-cf-centered{text-align:center}
.axe-cf-field.axe-cf-submit{text-align:right}
.axe-cf-field.axe-cf-submit input[type="submit"]{border-radius:5px;}
div.wpcf7 .ajax-loader{position:absolute;left:0px;top:0px;bottom:0px;margin:auto}
div.wpcf7 .wpcf7-not-valid-tip{padding:3px;text-align:right;margin-top:2px;background:rgba(241,241,241,0.1);font-size:11px;line-height:initial}
div.wpcf7 a.cf7wpay_sandbox,div.wpcf7 a.cf7wpay_sandbox:hover{font-size:12px;line-height:14px;}
div.wpcf7 p:empty{margin:0px!important;display:none!important}
div.wpcf7 label.topm7{position:relative;top:-7px}
div.wpcf7 .axeseparator{height:1px;background:#eaecee;margin:20px 0px 20px -10px;width:calc(100% + 20px);}
div.wpcf7 h4{position:relative;padding-left:10px}
div.wpcf7 h4::after{position:absolute;top:0px;left:0px;width:3px;background:#eaecee;height:100%;content:''}
/* CF7 */

/* Layout and Color Changes since 1.0.4 */
/* Color Edits. Major Edits are done via Customizer and within page content. */
.fl-node-56129c717677a > .fl-col-content::after{background-color:#776d8a}
.fl-node-56b24d5bcb99b > .fl-col-content,.fl-node-56b70880bfbb3 > .fl-col-content{border-color:#776d8a}
/* Color Edits */
/* Header Section */
.lakshmimd-site-header-inner{display:flex;align-items:center;padding:20px 0px;}
.lakshmimdnavinner{float:right;line-height:initial;text-align:right;margin-left:10px}
.lakshmimdnavinner::after{content:'';display:block;float:none;clear:both}
.lakshmimdlognav{flex:auto;width:25%;}
.lakshmimdlognav.lakshmimdnav{width:75%;}
.info-tagline{padding:0.675rem 0px}
.has-styled-logo .type-text{padding:0.8rem 1rem 0.8rem 40px}
.lakshmimd-logo aside a{display:inline-block;padding:0px 20px}
/* Header Section */
/* Layout and Color Changes since 1.0.4 */



@media screen and (max-width: 1024px){
    .columned-buttons div.fl-module-button{width:50%}
    .main-navigation-container .menu > ul > li{margin-left:0.08rem}
}
@media only screen and (min-width: 55em) and (max-width: 79.9375em) {
    .main-navigation{clear:none;width:auto;margin:10px auto;line-height:initial;}
}
@media only screen and (max-width: 54.9375em) {
    .site-branding, .info-tagline{float:none}
}
@media screen and (max-width: 768px){
    .w768p{float:none!important;clear:both;display:block!important;width:100%!important;margin-bottom:40px;padding:0px}
}
@media screen and (max-width: 680px){
    .columned-buttons div.fl-module-button{width:100%;float:none;clear:both;display:block;}
    .w680p{float:none!important;clear:both;display:block!important;width:100%!important;margin-bottom:40px;padding:0px}
    .lakshmimd-site-header-inner{display:block;padding:10px 0px}
    .lakshmimdlognav{width:100%!important;float:none;clear:both;text-align:center;flex:none;padding:10px 0px}
    .lakshmimdnavinner{float:none;clear:both;display:block;margin-left:0px;text-align:center;}
    .site-branding, .info-tagline{display:inline-block;margin:5px!important;}
}